.container-cards {
  display: flex;
  justify-content: space-between; /* Distribui os cards com espaços entre eles */
  flex-wrap: wrap; /* Permite que eles se ajustem em diferentes linhas se necessário */
  gap: 20px; /* Espaço entre os cards */
}

.card-pesquisas {
  background: linear-gradient(135deg, #2e7d32, #66bb6a);
  color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px; /* Espaço entre os cards */
}

.card-pesquisas:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-pesquisas h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

.card-pesquisas p {
  font-size: 14px;
  margin-bottom: 15px;
}

.btn-lg {
  background-color: white;
  color: #2e7d32;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.btn-lg:hover {
  background-color: #388e3c;
  color: white;
}









.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.row {
  display: flex;
  align-items: stretch;
}

.col-lg-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bd-placeholder-img {
  margin-bottom: 15px;
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.card h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.card ul {
  padding-left: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.card ul li {
  list-style: none;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.card ul li:last-child {
  border-bottom: none;
}