.grupo-pesquisa {
  display: flex;
  flex-direction: column;
  align-items: center;      /* Centraliza os itens na horizontal */
  justify-content: center;  /* Centraliza os itens na vertical */
  text-align: center;
  width: 60%;               /* Ajuste o valor de acordo com o seu layout */
  margin: 0 auto;           /* Centraliza a div dentro do overlay */
}

.modal-dialog {
  max-width: 80%; /* Aumenta a largura total do modal */
  width: 80%;
}

.modal-content {
  width: 100%; /* Garante que o conteúdo do modal ocupe toda a largura do modal */
  padding: 20px; /* Opcional: adiciona espaçamento interno para melhor estética */
}

.grupo-pesquisa h5 {
  font-weight: bold;
  margin-right: -20px; /* Distância fixa para a direita */

}

.fotos-grupo {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Agora são 4 colunas */
  gap: 20px; /* Espaço entre as fotos */
  justify-items: center; /* Centraliza as fotos */
  margin-top: 20px;
  justify-content: center; /* Garante que a grade inteira seja centralizada */
}

.foto-item {
  text-align: center; /* Centraliza cada item */
}

.foto-quadrada {
  width: 180px;  /* Tamanho fixo da foto */
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #007bff;
}

.foto-quadrada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foto-legenda {
  font-weight: bold;
  margin-top: 10px;
}

/* Botão "Me Conheça" com texto branco */
.btn-success {
  background-color: #28a745; /* Cor verde */
  border-color: #28a745;
  color: white; /* Altera a cor do texto para branco */
}

.btn-success:hover {
  background-color: #218838; /* Cor verde mais escura ao passar o mouse */
  border-color: #1e7e34;
}

/* Aumentar o tamanho do círculo */
.foto-circulo.grande {
  width: 220px; /* Aumenta o tamanho do círculo */
  height: 220px;
  margin-left: 40px; /* Ajuste para mover o círculo para a esquerda */
}

/* Ajuste na imagem para manter proporcional */
.foto-circulo.grande img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.foto-descricao {
  font-style: italic;  /* Para destacar o texto */
  font-size: 0.9rem;    /* Um tamanho um pouco menor */
  color: #555;         /* Cor mais suave */
  margin-top: 5px;     /* Espaço entre o nome e a descrição */
}
.btn-me-conheca {
  background-color: #007bff;  /* Cor do botão */
  color: white;  /* Cor do texto */
  border: none;
  padding: 10px 20px;  /* Tamanho do botão */
  margin-top: 10px;  /* Espaçamento entre o texto e o botão */
  cursor: pointer;
  border-radius: 5px;  /* Bordas arredondadas */
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.3s ease;  /* Efeito de transição ao passar o mouse */
}

.btn-me-conheca:hover {
  background-color: #0056b3;  /* Cor do botão ao passar o mouse */
}
